<div class="body">
  <div class="weater">

    <div class="current">
      <div class="currentCity">
        {{city}}
      </div>
      <div class="currentWeater" [class.night]="isNight">
        <div>{{ currentDate|date}}</div>
        <div><img [src]="currentIconUrl"></div>
        <div class="currentDiscription">{{currentWeaterDescription}} </div>
        <div class="currentTemperature">{{currentTemperature}}°</div>
      </div>
      <div>
        <button class="button" (click)="togleHourlyWeaterSection()">Hourly weater</button>
      </div>
    </div>

    <div class="hourly forcast" *ngIf='ishourlyWeaterSection' >
      <div class="forcastItem" [class.night]="hourlyInfo | nigthorLight " *ngFor="let hourlyInfo of hourlyWeater">
        <div class="forcastTime">
          <p>{{hourlyInfo.dt*1000  | date:"EEEE dd/MM/yy HH:mm:ss " }} </p>
        </div>
        <div class="forcastTemperature">
          <img [src]="hourlyInfo.weather[0].icon |iIcon" alt="ICON"> 
          {{hourlyInfo.temp}}°
          <p>{{hourlyInfo.weather[0].description}}</p>
        </div>
      </div>
    </div>

    <div class="forcast">
      <div class="forcastItem" *ngFor="let daylyIno of dailyWeather">
        <div class="forcastTime">
          <p>{{daylyIno.dt*1000 | date:"EEEE dd/MM/yy  "}} </p>
        </div>
        <div class="forcastTemperature">
          <img [src]="daylyIno.weather[0].icon | iIcon" alt="ICON"> 
          {{daylyIno.temp.max}}°
          <p>{{daylyIno.weather[0].description}}</p>
        </div>

      </div>
    </div>
  </div>
